#!/bin/sh
# ipfw Firewall Commands
cmd='/sbin/ipfw -q add'
ipfw -q -f flush
pif="em0"

# Allow Loopback and Deny Loopback Spoofing
$cmd allow all from any to any via lo0
$cmd deny all from any to 127.0.0.0/8
$cmd deny all from 127.0.0.0/8 to any
$cmd deny tcp from any to any frag

# Stateful rules
$cmd check-state
$cmd allow tcp from any to any established
$cmd allow all from any to any out keep-state
$cmd allow icmp from any to any

# Table 10 for IP blocks
/sbin/ipfw -q table 10 add 127.0.0.2
$cmd add 900 deny ip from 'table(10)' to any

# Incoming/Outgoing Services
$cmd 60010 allow tcp from any to any 1443
$cmd 60016 allow tcp from any to any 54678 keep-state


# Deny Port scanning (Nmap)
$cmd 00600 deny log logamount 50 ip from any to any ipoptions rr
$cmd 00610 deny log logamount 50 ip from any to any ipoptions ts
$cmd 00620 deny log logamount 50 ip from any to any ipoptions lsrr
$cmd 00630 deny log logamount 50 ip from any to any ipoptions ssrr
$cmd 00640 deny log logamount 50 tcp from any to any tcpflags syn,fin
$cmd 00650 deny log logamount 50 tcp from any to any tcpflags syn,rst

# Deny and Log
$cmd deny log all from any to any
